<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
</head>
<body>
    {% if role == 'admin' %}
        <h1>Добро пожаловать, Админ!</h1>
        <p>Вы имеете полный доступ ко всем функциям системы.</p>
    {% elif role == 'moderator' %}
        <h1>Добро пожаловать, Модератор!</h1>
        <p>Вы можете редактировать записи и комментарии.</p>
    {% elif role == 'user' %}
        <h1>Добро пожаловать, Пользователь!</h1>
        <p>Вы можете создавать записи от своего имени и просматривать френдленту.</p>
    {% else %}
        <h1>Добро пожаловать!</h1>
        <p>У вас нет доступа к этой системе.</p>
    {% endif %}
</body>
</html>