<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить задачу</title>
</head>
<body>
    <h1>Добавить задачу</h1>
    <form action="C:\Users\vladp\Desktop\Lab#10\Task#2\templates\add_task.html" method="post">
        <label for="task">Задача:</label>
        <input type="text" id="task" name="task" required>
        <br>
        <input type="submit" value="Добавить">
    </form>
    <a href="C:\Users\vladp\Desktop\Lab#10\Task#2\templates\main.html">Назад к списку задач</a>
</body>
</html>