{% extends 'base.html' %}

{% block title %}Добавить заметку{% endblock %}

{% block header %}Добавить заметку{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('add_note') }}">
        <div class="form-group">
            <label for="title">Заголовок:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Краткое описание:</label>
            <input type="text" id="description" name="description" required>
        </div>
        <div class="form-group">
            <label for="content">Полный текст:</label>
            <textarea id="content" name="content" required></textarea>
        </div>
        <button type="submit" class="btn">Добавить</button>
    </form>
    <a href="C:\Users\vladp\Desktop\Lab#10\Task#5\Folder#4\main.html" class="btn">Назад</a>
{% endblock %}